:root {
  /* colors */
  --color-left-column: rgb(180, 151, 134);
  --color-right-column: rgb(216, 136, 136);
  --color-first-name: rgb(233, 168, 63);
  --color-second-name: rgb(239, 148, 58);
  --color-font-primary: #1E1E1E;
  --collor-border: #1E1E1E;
  


 /* sizes */
 --space-left-column: 10px 40px 15px;
 --space-padding-top: 5px;
 --space-line-height: 5px;
 --font-size-primary: 13px;
 }


.grid-container {
    display: grid;
    grid-template-columns: 300px 715px;
    grid-template-rows: auto;
   
}

.grid-item-1 {
  display:block;
  background-color: var(--color-left-column);      
  font-family:Arial, Helvetica, sans-serif;
        
}

.modal {
  position:fixed;
}

.name {
  padding: var(--space-left-column); 
     
}
   

.first-name {
  color: var(--color-first-name);
}
  
.second-name {
  color: var(--color-second-name);
}


.hire-me{
  padding: var(--space-left-column);
}

.photo {
    padding-right: 85px;
    padding-left: 40px;
    width: 275px;
    height: 350px;
    ;
}

  .Contact {
    padding: var(--space-left-column);
    color: var(--color-font-primary);
    line-height: var(--space-line-height);
    font-size: var(--font-size-primary);
    
  }

  .header {
    border-bottom: 4px;
    border-bottom-style: groove;
    border-color: var(--collor-border);
    padding-bottom: 20px;
    padding-top:16px;
  }

  .title {
    font-size: 16px;
  }


  .contact-title {
    padding-top: var(--space-padding-top);
    font-weight: bold;
    line-height: var(--space-line-height);
    } 
    
  .plain-text {
    font-weight: normal;
    }
    



 .grid-item-2 {
  position: absolute;
  background-color: var(--color-right-column);
  padding: var(--space-left-column);
  font-family:Arial, Helvetica, sans-serif;
  right: 550px;
  left: 483px; 


 }

 

 .body-text {
  font-size: var(--font-size-primary);
  font-weight: bold;
  }

 .skills {
  display: flex;
  flex-direction: row;
  
  
 }
 
 .main-text {
  font-size: var(--font-size-primary);
  
 }

.cv a:link {
    color: #00f
};

.cv a :visited {
    color:#005 ;
}



.form-link {
    margin-left: 40px;
    color: #1C2E8C;
}




.link {
    font-size: 16px;
    line-height: 1.2;
    color: #1C2E8C;    
}


.link-form {
    color: #0048D9;
}



