.grid-container {
    display: grid;
    grid-template-columns: 385px 715px;
    grid-template-rows: auto;
   
    

    }
    .grid-item-1 {
        
        background-color: rgba(134, 163, 180, 1);
        font-family:Arial, Helvetica, sans-serif;
        
    }

    .modal {
      position:fixed;
    }

   .name {
    padding-top: 58px;
    padding-right: 85px;
    padding-left: 40px;
     
  }
   

  .first-name {
    color: rgba(5, 21, 70, 0.705);
  }
  
  .second-name {
    color: rgba(5, 21, 70, 0.705);
  }


  .hire-me{
    padding-right: 85px;
    padding-left: 40px;
    padding-bottom: 10px;
  }

  .photo {
    padding-right: 85px;
    padding-left: 40px;
    width: 245px;
    height: 300px;
    ;
  }

  .Contact {
    padding-right: 43px;
    padding-left: 40px;
    color: #1E1E1E;
    line-height: 5px;
    font-size: 13px;
  }

  .header {
    border-bottom: 4px;
    border-bottom-style: groove;
    border-color:#1E1E1E;
    padding-bottom: 8px;
    padding-top:16px;
  }

  .title {
    font-size: 16px;
  }

  .address {
    padding-top: 2px;
  } 

 .phone {
  padding-top: 10px;
 }

 .email {
  padding-top: 10px;
 }

 .linkedin {
  padding-top: 10px;
 }

 .languages {
  line-height: 1px;
  font-weight: bold;
  padding-top: 10px;
 }

 .grid-item-2 {
  padding-top: 58px;
  padding-right: 95px;
  padding-left: 40px;
  font-family:Arial, Helvetica, sans-serif;

 }

 .modal2 {
 position:absolute;
 top: 0;
 right: 500px;
 left: 460px;
 }

 .body-text {
  font-size: 13px;
  font-weight: bold;
 }

 .skills {
  display: flex;
  flex-direction: row;
  
  
 }
 
 .main-text {
  font-size: 13px;
  
 }

 

.cv a:link {
    color: #00f
};

.cv a :visited {
    color:#005 ;
}



.form-link {
    margin-left: 40px;
    color: #1C2E8C;
}




.link {
    font-size: 16px;
    line-height: 1.2;
    color: #1C2E8C;    
}


.link-form {
    color: #0048D9;
}


